.categoria {
    padding: 2rem;
    text-align: center;
    padding-top: 1rem;
  }
  .categoria__titulo {
    font-size: 32px;
    margin-bottom: 2rem;
    color: #4f3a2d;
  }
  
  .categoria__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .receta {
    width: 240px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 1rem;
    text-align: center;
  }
  
  .receta img {
    width: 100%;
    border-radius: 10px;
  }
  
  .receta h3 {
    margin-top: 1rem;
    font-size: 18px;
    color: #333;
  }
    .titulo {
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    padding-top: 6rem;
  }
  