/* Navbar Styles */
.navbar {
  width: 100%;
  max-width: 960px;
  background: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start; /* Cambiado de start a flex-start */
  align-items: flex-start; /* Cambiado de center a flex-start */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 0; /* Ajusta el margen superior según sea necesario */
}
