
.navbar {
 
  width: 400px;
  background: #a6b974;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-style: solid;
}

.navbar-title {
  font-size: 1.5rem;
  color: #4f3a2d;
}
.navbar-link {
  color: #4f3a2d;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #8fa374;
}