:root {
  --color-primary: #E8B44A; /* Amarillo Miel */
  --color-secundario: #A6B984; /* Verde Salvia */
  --color-fondo: #FFF2D7; /* Beige Harina */
  --color-texto: #4F3A2D; /* Madera Oscura */
  --color-destacado: #722F37; /* Ciruela Profunda */
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: 'Poppins', sans-serif;
}
