.merriweather-text {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Cambia a 300, 400, 700 según necesites */
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3e3e3;
}
header {
    
    background-color: #D72638;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #C8AD7F;
}
nav a {
    color: #000000;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #98825c;
}
main {
    padding: 20px;
}
footer {
    background-color: #D72638;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}